<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; {{ year }} Miguel Rocha. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/profile.php?id=100089804767027">
                            <i class="fa fa-facebook" aria-hidden="true">
                                <img src="/img/facebook.png" alt="" width="50" class="d-inline-block align-text-top">
                            </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/drosangaso/">
                            <i class="fa fa-twitter" aria-hidden="true">
                                <img src="/img/instagram.png" alt="" width="50" class="d-inline-block align-text-top">
                            </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://wa.me/59176569535">
                            <i class="fa fa-instagram" aria-hidden="true">
                                <img src="/img/whatsapp.png" alt="" width="50" class="d-inline-block align-text-top">
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center">
                <p>Dirección: Universidad Mayor de San Andrés</p>
                <p>Teléfono: +591 76569535</p>
            </div>
        </div>
    </div>
</footer>