<div class="container">
    <div class="row">
    <div class="col">
        <div class="card">
            <h5 class="card-header">Afiches</h5>
            <div class="card-body">
                <img src="/img/AficheBallet.jpg" alt="" class="card-image">
                <h5 class="card-title">
                    Afiches de colegio
                </h5>
                <p class="card-text">
                    Se el número uno en tu establecimiento para promocionar tus cursos.
                </p>
                <a href="https://wa.me/59176569535" class="btn btn-primary">Conáctanos</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Videos</h5>
            <div class="card-body">
                <video src="/img/MotionGraphicsLogoBallet.mp4" alt="" class="card-image" autoplay muted loop>
                </video>
                <h5 class="card-title">
                    Animaciones de Logotipos
                </h5>
                <p class="card-text">
                    Dale vida a tu marca con la animación 3D a tu logotipo.
                </p>
                <a href="https://wa.me/59176569535" class="btn btn-primary">Contáctanos</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <h5 class="card-header">Imagen Visual</h5>
            <div class="card-body">
                <img src="/img/3D.png" alt="" class="card-image">
                <h5 class="card-title">
                    Avanza en el futuro
                </h5>
                <p class="card-text">
                    Dale ese toque 3D a todas tus publicaciones e integrate en el mundo digital.
                </p>
                <a href="https://wa.me/59176569535" class="btn btn-primary">Contáctanos</a>
            </div>
        </div>
    </div>
    </div>
</div>
